body {
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    margin: 0;
    display: grid;
    place-items: center;
    overflow: hidden;
}

#game .cell {
    width: 90px;
    height: 90px;
    font-size: 3rem;
    display: grid;
    border: 1px solid white;
    float: left;
}

#game {
    width: 276px;
    text-align: center;
    position: relative;
}

#results {
    position: relative;
    top: 10px;
    height: 1rem;
}

#linea {
  position: absolute;
  width: 270px;
  height: 4px;
  background: red;
  left: 3px;
  display: none;
  transform-origin: center;
  transition: none;
}


